<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=meta('title') || 'PocketCraft'%></title>
    <meta
      name="description"
      content="<%=meta('description') || 'PocketBase School'%>"
    />
    <meta property="og:title" content="<%=meta('title') || 'PocketCraft'%>" />
    <meta
      property="og:description"
      content="<%=meta('description') || 'PocketBase School'%>"
    />
    <meta
      property="og:image"
      content="<%=meta('image') || 'https://pocketpages.dev/android-chrome-512x512.png'%>"
    />
    <meta
      property="og:url"
      content="<%=meta('path') ? `https://pocketcraft.dev${meta('path')}` : meta('url') || `https://pocketcraft.dev${request.url}`%>"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mvp.css/1.16.0/mvp.min.css"
      integrity="sha512-jpAA/iIi8VCSS32SIiI0/PV7KULveoqtZirvKdjcbAbwRGuxPbM8UG9gHd3l8T6flbx6F6mdmWKmCVvYg51kKQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pocketbase/0.21.5/pocketbase.iife.min.js"
      integrity="sha512-NCWfA7kwJUE2rkwC5bOddXvqLNTanjH0L77zyt3U0t+wcXmG50x6B4PgMwOqsFvCa2Jlz3aOFh6L7CV1U+o5tA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.3/htmx.min.js"
      integrity="sha512-dQu3OKLMpRu85mW24LA1CUZG67BgLPR8Px3mcxmpdyijgl1UpCM1RtJoQP6h8UkufSnaHVRTUx98EQT9fcKohw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      const client = new PocketBase(`https://pocketcraft.dev`)
    </script>
    <%- slots.head %>
  </head>
  <body>
    <main><%-slots.body || slot%></main>
  </body>
</html>
